.container-header{
    height: 65px;
    width: 100%;
    background-color: aqua;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
}

.container-barnav{
    width: 100%;
    height: 20px;
    font-size: 15px;
    padding: 5px;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-end; 
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.link-login{
    margin-right: 30px;
}
.link-registro{
    margin-right: 20px;
}
a:hover{
    color: palevioletred;
} 
.container-main{
    width: 99%;
    height: 400px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
}
/* Inicio Responsive Design */

.container-subsection{
    width: 60%;
    height: 400px;
    color: black;
    margin-top: 5px;
    margin-right: 20px;
    border: 1px solid grey;
    display: flex;
    flex-wrap: nowrap;  
}
.container-imagen1{
    background-image: url(./Recursos/paisaje1.jpg);
}
.container-imagen2{
    background-image: url(./Recursos/paisaje2.jpg);
}
.container-imagen3{
    background-image: url(./Recursos/paisaje3.jpg);
}
.container-imagen4{
    background-image: url(./Recursos/paisaje4.jpg);
}
/* Small devices - portrait tables and large phones)
@media only screen and (max-width:600px){
    .container-imagen1 {
        background-image: url("./Recursos/paisaje1.jpg");
    }
    .container-imagen2 {
        background-image: url("./Recursos/paisaje2.jpg");
    }
    .container-imagen3 {
        background-image: url("./Recursos/paisaje3.jpg");
    }
    .container-imagen4 {
        background-image: url("./Recursos/paisaje4.jpg");
    }
    }
Small devices - portrait tables and large phones)
@media only screen and (min-width:600px){
    .container-subsection{
        
    }
}
Medium devices - landscape tablets
@media only screen and (min-width:768px){
    .container-subsection{
        
    }
}
/*Large devices - laptops and descktops*/
/* @media only screen and (min-width:922px){
    .container-subsection{
        
    }
} */
   

/* Fin Responsive Design */
.container-aside{
    width: 30%;
    height: 400px;
    color: black;
    margin-top: 5px;
    margin-right: 20px;
    border: 1px solid grey;
    display: flex;
    flex-wrap: nowrap;  
}
.container-footer{
    width: 100%;
    height: 30px;
    font-size: 25px;
    padding: 2px;
    margin: 2px;
    background-color: whitesmoke;
    color: black; 
    border-top: 1px solid plum;
    border-bottom: 1px solid plum;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}
.container-socialface{
    width: 40px;
    height:25px; 
    background-image: url(./Recursos/facbook.PNG);
    background-size: 30px 25px;  
    background-repeat: no-repeat;
    background-position: left;
}
.container-socialinstagram{
    width: 40px;
    height:25px; 
    background-image: url(./Recursos/instagram.png);
    background-size: 30px 25px;  
    background-repeat: no-repeat;
    background-position: left;
}
.container-socialtwitter{
    width: 40px;
    height:25px; 
    background-image: url(./Recursos/twitter.png);
    background-size: 30px 25px;  
    background-repeat: no-repeat;
    background-position: left;
}